@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Sue+Ellen+Francisco&display=swap');

:root {
  --c-black: #000;
  --c-dark: #262626;
  --c-light: #F0F7F4;
  --c-dimm: #8B8F8D;
  --c-primary: #6DD400;
  --c-primary-dimmed: #3F7A00;
  --c-contrast: #3C91E6;

  --f-normal: Nunito; 
  --f-display: Sue Ellen Francisco; 
  --f-code: Fira Code;

  font-family: Nunito;
}

html, body { height: 100%; margin: 0; }

body {
  background: var(--c-dark);
  color: var(--c-light);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: Sue Ellen Francisco;
  font-weight: 400;
}
h1, .h1 { font-size: 60px; }
h2, .h2 { font-size: 52px; }
h3, .h3 { font-size: 45px; }
h4, h5, h6, .h4 { font-size: 36px; }

.darker {
  color: var(--c-dimm);
}
